# Dependencies
node_modules

# Build
dist
dist-ssr
map-bench.tar.gz

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

public/data/maps
public/package/**

.env

# installation script for mapcore (has TOKEN in it)
install_mapcore.bash

*.jsx.sw*